.detail {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.view-all {
  color: green;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.title-create{
  font-weight: bold;
}

.card-radius {
  border-radius: 10px;
  img {
    border-radius: 10px 10px 0 0;
  }
}

@font-face {
  font-family: "FontAwesome";
  src: url("../../fonts-star/fontawesome-webfont.eot?v=4.7.0");
  src: url("../../fonts-star/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../../fonts-star/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../../fonts-star/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../../fonts-star/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../../fonts-star/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-star-checked {
  color: yellow;
}
.fa-star-color {
  color: lightgray;
}
