<div class="container py-2">
  <div class="detail">
    <h3 class="title-create">بسازید و بفروشید</h3>
    <a class="view-all">مشاهده همه</a>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card card-radius">
        <img src="../../../../../assets/images/home/banner.jpg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">پرگار</p>
          <div class="detail">
            <div>
              <i class="far fa-eye"></i>
              <span class="px-1">333</span>
            </div>
            <div>
              <i class="fa fa-star fa-star-color"></i>
              <i class="fa fa-star fa-star-color"></i>
              <i class="fa fa-star fa-star-color"></i>
              <i class="fa fa-star fa-star-color"></i>
              <i class="fa fa-star fa-star-color"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
