@import "/src/assets/style/style-shared.scss";
@import "/src/assets/style/fonts-star/fontface-style.scss";
.detail {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.card-radius {
  border-radius: 10px;
  img {
    border-radius: 10px 10px 0 0;
  }
}

.title-create {
  font-weight: bold;
}

.view-all {
  color: $base-color;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
