<div class="grid g-col-1-1-1 container box-level footer py-3">
  <div>
    <ul class="footer-link">
      <li><a>1</a></li>
      <li><a>1</a></li>
      <li><a>1</a></li>
      <li><a>1</a></li>
    </ul>
  </div>
  <div class="center-item">
    <h5>از آموخته های خود درامد کسب کنید</h5>
    <button class="btn full-width">در پرگار درس بدهید</button>
    <div class="row">
      <div class="col-6">
        <img src="../../../assets/images/home/banner.jpg" class="img-fluid" />
      </div>
      <div class="col-6">
        <img src="../../../assets/images/home/banner.jpg" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="center-item">
    <div class="row">
      <div class="col-6">
        <h5>پرگار را دنبال کنید</h5>
        <p>اطلاع از آموزش های جدید و تخفیف ...</p>
      </div>
      <div class="col-6">
        <img src="../../../assets/images/home/banner.jpg" class="social-icon img-fluid" />
        <img src="../../../assets/images/home/banner.jpg" class="social-icon img-fluid" />
        <img src="../../../assets/images/home/banner.jpg" class="social-icon img-fluid" />
      </div>
      <div class="col-12">
        <div class="grid g-col-1-1">
          <img src="../../../assets/images/home/banner.jpg" class="app-download-icon" />
          <img src="../../../assets/images/home/banner.jpg" class="app-download-icon" />
          <img src="../../../assets/images/home/banner.jpg" class="app-download-icon" />
          <img src="../../../assets/images/home/banner.jpg" class="app-download-icon" />
        </div>
      </div>
    </div>
  </div>
</div>
