<div class="grid g-col-1-1-1 container box-level footer py-4 mt-5">
  <div>
    <ul class="footer-link">
      <li><a>وبلاگ پرگار</a></li>
      <li><a>درباره پرگار</a></li>
      <li><a>پرگار در رسانه ها</a></li>
      <li><a>تماس با ما</a></li>
    </ul>
  </div>
  <div class="center-item">
    <h3>از آموخته های خود درامد کسب کنید</h3>
    <button class="btn full-width btn-pargar">در پرگار درس بدهید</button>
    <div class="row">
      <div class="col-6">
        <img src="../../../assets/images/footer/enamad.jfif" class="img-fluid enamad" />
      </div>
      <div class="col-6">
        <img src="../../../assets/images/footer/enamad.jfif" class="img-fluid enamad" />
      </div>
    </div>
  </div>
  <div class="center-item">
    <div class="row">
      <div class="col-6">
        <h3>پرگار را دنبال کنید</h3>
        <p class="offer">اطلاع از آموزش های جدید و تخفیف ...</p>
      </div>
      <div class="col-6">
        <img src="	http://pargar.ir/assets/img/icons/icon_social_telegram.svg" class="social-icon img-fluid" />
        <img src="http://pargar.ir/assets/img/icons/icon_social_instagram.svg" class="social-icon img-fluid" />
        <img src="	http://pargar.ir/assets/img/icons/icon_social_aparat.svg" class="social-icon img-fluid" />
      </div>
      <div class="col-12">
        <div class="grid g-col-1-1">
          <img src="http://pargar.ir/assets/img/icons/icon_play1.svg" class="app-download-icon" />
          <img src="http://pargar.ir/assets/img/icons/icon_4khooneh.svg" class="app-download-icon" />
          <img src="	http://pargar.ir/assets/img/icons/icon_appstore.svg" class="app-download-icon" />
          <img src="http://pargar.ir/assets/img/icons/icon_bazaar.svg" class="app-download-icon" />
        </div>
      </div>
    </div>
  </div>
</div>
