<div class="container py-3">
  <div class="row box-level box py-3">
    <div class="col-5">
      <img src="../../../../../assets/images/home/banner.jpg" class="img-fluid image-radius" />
    </div>
    <div class="col-7">
      <h1>یادگیری زبان انگلیسی با فیلم</h1>
      <p class="description">
        شرح دورهیادگیری زبان انگلیسی و تسلط بر آن، راه را برای کار و تحصیل شما
        در خارج از ایران فراهم می‌کند؛ همچنین با یادگیری این زبان، لذت تماشای
        فیلم‌های جدید خارجی را از دست نمی‌دهد و بدون نیاز به خواندن زیرنویس یا
        انتظار کشیدن برای نسخه دوبله‌شده، فیلم‌ها و سریا‌های موردعلاقه خود را
        تماشا کنید. همه می‌دانیم که یادگیری زبان، به شیوه‌های مرسوم و عادی، کاری
        وقت‌گیر و پر زحمت است و در درازمدت به نتیجه می‌رسد؛ اما این دوره آموزشی
        پرگار با رویکردی متفاوت و سرگرم‌کننده به آموزش زبان انگلیسی می‌پردازد و
        زبان‌آموزان می‌توانند در حین تماشای فیلنم، نکات مهم، دستور زبان و لغات
        پرکاربرد زبان انگلیسی را می‌آموزند.
      </p>
      <div class="card-body">
        <h3 class="card-title bold">Card title</h3>
        <p class="card-text gray-low-color">پرگار</p>
        <div class="detail">
          <div>
            <i class="far fa-eye gray-low-color"></i>
            <span class="px-1 gray-low-color">333</span>
          </div>
          <div>
            <i class="fa fa-star fa-star-color"></i>
            <i class="fa fa-star fa-star-color"></i>
            <i class="fa fa-star fa-star-color"></i>
            <i class="fa fa-star fa-star-color"></i>
            <i class="fa fa-star fa-star-color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
