@import "/src/assets/style/fonts-star/fontface-style.scss";
.box {
  background-color: white;
  box-shadow: 1px 1px 1px white;
  border-radius: 5px;
}
.description {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}
.image-radius{
  border-radius: 5px;
}
h1 {
  font-weight: bold;
}
.detail {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

