@import "/src/assets/style/style-shared.scss";
::ng-deep{
    .mat-progress-spinner circle, .mat-spinner circle{
        color: $base-color!important;
    }
    .mat-progress-spinner circle, .mat-spinner circle{
        stroke: $base-color!important;
    }
}
.spinner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}