/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "iransans";
  src: url("./assets/fonts/iransans.eot");
  src: url("./assets/fonts/iransans.woff") format("woff"),
    url("./assets/fonts/irsans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam-FD";
  src: url("./assets/fonts/Shabnam-FD.eot");
  src: url("./assets/fonts/Shabnam-FD.woff") format("woff"),
    url("./assets/fonts/Shabnam-FD.ttf") format("truetype");
}
html, body { height: 100%; }
body { margin: 0;
       font-family: "iransans",Roboto, "Helvetica Neue", sans-serif!important; 
      direction: rtl;
      background-color: whitesmoke;
}

.p-relative{
    position: relative;
}

.box-level {
    align-content: baseline;
  }
.full-width{
     width: 100%;
}
.gray-low-color{
  color: hsla(0, 0%, 50%,0.8)
}
.bold{
  font-weight: bold;
}
